body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    text-align: justify;
    background-color: #f6f6f6;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: 'Cinzel', serif;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
} 

.col-sm-2 a i{
    font-size: 25px;
    color: #818181;
}
.col-sm-2 a i:hover{
    font-size: 30px;
    transition: 0.5s;
    color: black;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: gray; 
}
::-webkit-scrollbar-thumb:hover {
    background: lightgray;
}
.jumbotron {
  font-family: 'Cinzel', serif;
  margin: auto;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}
.font_style {
    font-family: 'Cinzel', serif;
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.bg-blue {
    background-color: #00477b;
}
.navbar {
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 3px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: black !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    background-color: black!important;
    color: white!important;
    transition: .6s;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
.adjust {
    margin-left: 20%;
    margin-top: 20%;
}
.justify {
    text-align: justify;
}
.social_icons {
    display: block;
}
.phone {
    display: none;
}
.not-phone {
    display: initial;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
    .adjust {
        margin: 0px;
    }
    .social_icons {
        margin-top: 30px;
        display: flex;
    }
    .phone {
        display: initial;
    }
    .not-phone {
        display: none;
    }
    .caption p, .caption h3{
        padding: 30px;
    }
}
